$themeColor: red;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        a {
          color: $themeColor;
          text-decoration: none;
          &:hover {
            color: blue;
          }
          //   用&符號 這樣就不用再寫一次自己的tag了(a)
          // hover是當滑鼠放上去會做的變色
        }
      }
    }
  }
}

h1 {
  color: $themeColor;
}
// 這裡用變數設定顏色 這樣以後只要改一個變數就可以全部修改顏色

h2 {
  color: $themeColor;
}
